/*Gallery-Slider*/
#slide-window {
    position: relative;
    width: {{ $.Scratch.Get "width" }};
    height: {{ $.Scratch.Get "height" }};
    overflow: hidden;
    top: 0px;
    left: 0px;
    object-fit: contain;
}

#slides-list {
    width: {{ $.Scratch.Get "width" }};
    height: {{ $.Scratch.Get "height" }};
    position: absolute;
    margin: 0px;
    padding: 0px;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.66s ease;
    -webkit-transition: all 0.66s ease;
    object-fit: contain;
}

.slide {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    width: {{ $.Scratch.Get "width" }};
    height: {{ $.Scratch.Get "height" }};
    background: #ccc;
    text-align: center;
    line-height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    color: #fff;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-transform-style: preserve-3d;
    /* max-width:100%;
    max-height:100%; */
    object-fit: contain;
}

.nav {
    position: relative;
    z-index: 9;
    top: 45%;
    cursor: pointer;
    color: #fff;
    opacity: 0.7;
    transition: all 0.66s ease;
    -webkit-transition: all 0.66s ease;
}

.nav:hover {
    opacity: 1.0;
}

#left {
    left: 3%;
    float: left;
}

#right {
    right: 3%;
    float: right;
}