{{ define "main" }}
{{- if not (.Site.Params.homepage.disableHeroSection) }}
<section class="hero" style="background-image:linear-gradient(rgba(20,30,38, 0.9), rgba(24,44,54, 0.8)),
url('{{.Site.Params.homepage.heroBackgroundImage}}'); ">
  <header class="container">
    <hgroup role="group" aria-labelledby="index1" aria-describedby="index2"> 
      <h1 id="index1">{{.Site.Params.homepage.heroTitle}}</h1>
      <h2 id="index2">{{.Site.Params.homepage.heroDescription}}</h2>
    </hgroup> <!-- hgroup is not supported by html5, but must remain due to styling reasons-->
    <div>
      <a
        class="hero-buttons"
        href="{{ .Site.Params.homepage.heroCTAPrimaryUrl | relURL  }}"
        role="button"
        >{{.Site.Params.homepage.heroCTAPrimaryText}}</a
      >
      <a
        href="{{ .Site.Params.homepage.heroCTASecondaryUrl | relURL  }}"
        role="button"
        class="contrast outline"
        >{{.Site.Params.homepage.heroCTASecondaryText}}</a
      >
    </div>
  </header>
</section>
{{ end }}


{{- if not (.Site.Params.homepage.disableBlogSection) }}
<section>
  <hgroup class="text-center" role="group" aria-labelledby="index3" aria-describedby="index4">
    <h2 id="index3">{{.Site.Params.homepage.blogTitle}}</h2>
    <h3 id="index4">{{.Site.Params.homepage.blogDescription}}</h3>
  </hgroup><!-- hgroup is not supported by html5, but must remain due to styling reasons-->
  <div class="container">
    <div class="grid grid-post">
      {{ $paginator := .Paginate (where site.RegularPages  "Type" "in" site.Params.mainSections | first
      3) }} {{ range $paginator.Pages }}
      <a href="{{ .RelPermalink }}">
        <article class="text-center">
        <!-- {{if .Params.Cover.Image}}
          <figure>
            <img
              src="{{.Params.Cover.Image | absURL}}"
              width="600"
              height="400"
            >
            {{ end }}
          </figure> -->
          <hgroup role="group" aria-labelledby="index5" aria-describedby="index6">
            <h3 id="index5">{{ .Title }}</h3>
            <hr id="index6" />
            <p>
              {{ .Description | plainify | htmlUnescape | truncate 100 }}{{ if
              .Truncated }}...{{ end }}
            </p>
          </hgroup><!-- hgroup is not supported by html5, but must remain due to styling reasons-->         
          <small> {{- partial "post_meta.html" . -}} </small>
        </article>
      </a>
      {{ end }}
    </div>
  </div>
  <div class="text-center">
  <a href="{{ "/live" | absLangURL }}"><kbd>{{.Site.Params.homepage.seeMoreText}}</kbd></a>
</div>
</section>
{{ end }}

{{- if not (.Site.Params.homepage.disableAboutSection) }}
<section>
  <hgroup class="text-center" role="group" aria-labelledby="index7" aria-describedby="index8">
    <h2 id="index7">{{.Site.Params.homepage.aboutTitle}}</h2>
    <h3 id="index8">{{.Site.Params.homepage.aboutDescription}}</h3>
  </hgroup><!-- hgroup is not supported by html5, but must remain due to styling reasons-->
  <div class="container">
    <div class="grid">
      <div class="container" style="text-align: center">
        <img
          src="{{.Site.Params.homepage.aboutImgUrl}}"
          alt="Die Bandmitglieder von Kytaara mit den Bandbohnen beim Feierabendbier"
          width="300"
          height="450"
        ><!-- layout="intrinsic" not allowed for img tags -->
      </div>
      <div class="container" style="text-align: left;">
        {{.Site.Params.homepage.aboutContent}}
      </div>
    </div>
  </div>
</section>
{{ end }}

{{- if not (.Site.Params.homepage.disablePortfolioSection) }}
<section>
  <hgroup class="text-center" role="group" aria-labelledby="index9" aria-describedby="index10">
    <h2 id="index9">{{.Site.Params.homepage.portfolioTitle}}</h2>
    <h3 id="index10">{{.Site.Params.homepage.portfolioDescription}}</h3>
  </hgroup><!-- hgroup is not supported by html5, but must remain due to styling reasons-->
  <div class="container">
    <div class="grid grid-post" style="display: flex;   justify-content: center;"> <!-- ToDo: entferne style, wenn mehere da hinkommen -->
      {{ range .Site.Params.homepage.portfolio }}
      <a class="portfolio-post"><!--href="{{.websiteUrl}}" Einsetzen in Tag, wenn Portfolio da ist-->
        <figure>
          <img
            src="{{.imageUrl}}"
            width="600"
            height="400"
            alt="{{.alt}}"
          ><!-- layout="responsive" not allowed for img tags -->
        </figure>
        <!--  <hgroup class="text-center">
          <h4>{{.description}}</h4>
        </hgroup> ToDo einsetzen, wenn Musik da ist -->
      </a>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ end }}
